<div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-3 col-md-3'></div>
        <div class ='col-xs-9 col-md-8'>
            <h1 id='welcome'>&lt;Hello-World!/&gt;</h1>
        </div>
    </div>
</div>

<div id="bodyContent">
    //all your stuff goes in here
</div>

<div class="element">
<p id='yo'></p>
</div>


<div class='container-fluid'>
  <div class='row'>
      <div class='col-xs-4 col-md-4'></div>
          <div class='col-xs-6 col-md-7'>
            <div class ='contact-logos'>
                <a href = 'http://www.github.com/GermanGrandson' target='_blank'>
              <i class="fa fa-github-alt"></i></a>
              <a href = 'http://www.twitter.com/GermanGrandson' target='_blank'>
              <i class="fa fa-twitter"></i></a>
            <a href = 'https://www.linkedin.com/in/germananieto' target='_blank'>
              <i class="fa fa-linkedin-square"></i></a>
            <a href = 'mailto:ganieto1@gmail.com' target='_blank'>
              <i class="fa fa-envelope-o"></i></a>
            </div>
                <div class='col-xs-2 col-md-1'>
                </div>
        </div>
  </div>
</div>

<div class='container-fluid'>
  <div class='row'>
      <div class='col-xs-3 col-md-3'></div>
          <div class='col-xs-4 col-md-4'>
            <div class='circular'></div></div>
            <div class='col-xs-4 col-md-4'>
      </div>
  </div>
</div>

<br>

<div class='container-fluid'>
  <div class='row'>
    <div class ='logos'>
          <div class='col-xs-4 col-md-4'></div>
            <div class='col-xs-6 col-md-7'>
            <%= image_tag("rails.png", :alt =>"Rails", style:"width:70px;height:60px", id: "Rails")%>
            <%= image_tag("html5.png", :alt =>"HTML",style:"width:70px;height:60px", id: "HTML")%>
            <%= image_tag("css3.png", :alt =>"CSS", style:"width:70px;height:60px", id: "CSS")%>
            <%= image_tag("javascript-logo.png", :alt =>"Javascript", style:"width:70px;height:60px", id: "Javascript")%>
            </div>
              <div class='col-xs-2 col-md-1'></div>
    </div>
  </div>
</div>
<!--
<div class='row text-center'>
  <div class='col-md-12'>
    <h1 id='border'>About Me</h1>
  </div></div> -->
<br>
<div class='container-fluid'>
    <div class='about-me'>
      <div class='row'>
        <div class='col-xs-2 col-md-2'></div>
            <div class='col-xs-9 col-md-8'>
                <div id=paragraph>
                <p id='thestory'>My name is German Antonio Nieto and I'm a Software
                  Developer. I’m a graduate of Wyncode Academy, an intense 9-week computer
                  programming boot camp where I learned the skills necessary to become a
                  Full Stack Web Developer. During my time at Wyncode I learned invaluable
                  knowledge and successfully developed numerous working Web
                Applications. I have a passion for Software Development and I'm extremely hungry to keep learning!
                  I'm currently located in Sunny South Florida but am attempting to
                  relocate back up to New York City. If you know of any opportunites
                  please feel free to reach out :)</p>
                </div>
            </div>
              <div class='col-xs-1 col-md-1'>
              </div>
            </div>
    </div>
</div>


<div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-3 col-md-3'></div>
        <div class='col-xs-9 col-md-8'>
          <h1 id='border'>IF YOU BUILD IT, THEY WILL COME...</h1>
        </div>
            <div class='col-xs-0 col-md-1'>
            </div>
    </div>
</div>

<div class='container-fluid'>
  <div class='row'>
    <div class='games'>
      <div class='col-xs-2 col-md-2'></div>
        <div class="col-xs-3 col-md-3">
          <a href = 'http://www.trndi.co' target='_blank'>
          <ia class='fa fa-glass'></ia>
          <h1 id='border'>TRNDI</h1></a>
        </div>
            <div class='col-xs-3 col-md-3'>
              <a href = 'http://tindcat.co' target='_blank'>
                <i class="fa fa-paw"></i>
              <h2 id='border'>TindCat</h2></a>
          </div>
              <div class='col-xs-3 col-md-3'>
                <a href = 'https://github.com/GermanGrandson/Voter-Sim' target='_blank'>
                <i class="fa fa-flag-o"></i>
                <h2 id='border'>Voter Simulation</h2></a>
              </div>
      </div>
  </div>
</div>

<div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-2 col-md-2'></div>
        <div class='col-xs-3 col-md-3'>
          <a href = 'http://straingth.herokuapp.com' target='_blank'>
          <i class="fa fa-heartbeat"></i>
          <h2 id='border'>STRAINgth</h2></a>
        </div>
        <div class='col-xs-3 col-md-3'>
        </div>
            <div class='col-xs-3 col-md-3'>
            <a href = 'http://straingth.herokuapp.com' target='_blank'>
            <i class="fa fa-slack"></i>
            <h2 id='border'>Tic Tac Toe</h2></a>
            </div>
              <div class='col-xs-3 col-md-3'>
              </div>
</div>
</div>


<div class='row text-center'>
  <div class='contact-me'>
      <div class='col-xs-12 col-md-12'>
        <h1 id='border'>Contact Me: (954) 494-8065</h1>
      </div>
  </div>
</div>





<script src="jquery.js"></script>
<script src="typed.js"></script>
<script>
  $(function(){
      $("#yo").typed({
        strings: ["First sentence.", "Second sentence."],
        typeSpeed: 0
      });
  });
</script>

<script>
    // $(document).ready(function(){
    //     $("#welcome").animate({left:'240px'});
    // });

    // $("#click").click(function() {
    //     $("#welcome").animate({left:'0'}, 'fast');
    // });
</script>
