@import "bootstrap-sprockets";
@import "bootstrap";


body{
  background-size: cover;;
   background-image: image-url('graffiti.jpg');
   background-repeat: no-repeat;
}


.circular{
  // background: url(goodlookin.jpg) no-repeat;
  background-position: center;
  width: 300px;
	height: 300px;
  margin-left: 50px;
  margin-bottom: 200px;
  background-size: cover;
	border-radius:100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#me{
  width: 500px;
	height: 500px;
  border-radius:100px;
  // margin-left: 30px;


}

.contact-logos{
  font-size: 60px;
  margin-left: -27px;
}


// .row{
//   margin-top: 30px;
//   margin-bottom: 30px;
// }

.about-me{
  font-size: 25px;
  color: white;
}

.games{
  // margin-top: 30px;
  // margin-bottom: 30px;
}

.fa{
  font-size: 60px;
  // text-align: center;
}

// .contact-me{
//   margin-top: 20px;
// }

// .logos{
//   text-align: center;
//
// }

#welcome{
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 35px;
  margin-left: 40px;
}

a{
  color:white;
}



a:hover{
  color: firebrick;
}

.number{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: -100px;
}

#border{
  // text-align: justify;
  font-family: 'Questrial', sans-serif;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.if{
  margin-left: 25px;
}

#thestory{
  color:white;
  text-align: justify;
  font-family: 'Questrial', sans-serif;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#paragraph{
  background-color: firebrick;
  border-radius: 9px;
}

#Rails{
  width:70px;
  height:60px;
}

.fa{
  margin-left: 30px;
}

.logos{
  margin-left: 66px;
}

.games{
  margin-left: 50px;
}

#hi{
  font-size: 3em;
  color: white;
}

a.webapp {text-decoration: none; }

a.chick:hover{
  color:teal;
}

// Typed.js
.typed-cursor{
    opacity: 10;
    color: white;
    font-size: 40px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
